.react-flow__controls-button {
  color: black;
}

.react-flow__panel {
  opacity: 0.7;
}

path.react-flow__edge-path {
  stroke: black;
}

.atlas-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 105%;
}

.atlas-edge {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.react-flow__handle.connectionindicator {
  background: none;
  pointer-events: none;
  cursor: inherit;
}

.react-flow__node .map-icon-container img {
  cursor: pointer;
}
