.react-flow__controls-button {
  font-size: 0.875em;
  color: var(--bs-body-color);
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  border: 1px solid;
  border-color: var(--bs-secondary);
  background-color: var(--bs-dark);
  fill: var(--bs-body-color);
  border-top-width: 0;
}

.react-flow__controls-button:first-child {
  border-top-width: 1px;
  border-radius: var(--bs-border-radius);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.react-flow__controls-button:last-child {
  border-radius: var(--bs-border-radius);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.react-flow__controls-button:hover {
  background-color: var(--bs-secondary);
}

path.react-flow__edge-path {
  stroke: black;
}

.atlas-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 105%;
}

.atlas-edge {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.react-flow__handle.connectionindicator {
  background: none;
  pointer-events: none;
  cursor: inherit;
}

.react-flow__node .map-icon-container img {
  cursor: pointer;
}
