.map-reward,
.map-stack-size {
  border-radius: 0;
  font-size: 0.9rem;
  white-space: inherit;
}

.map-stack-size {
  position: absolute;
  top: 5px;
  left: 5px;
}

.map-card-price {
  flex-basis: 4em;
  flex-grow: 0;
  flex-shrink: 0;
}
