.map-reward,
.map-stack-size {
  border-radius: 0;
  font-size: 0.9rem;
  white-space: inherit;
  margin-top: 0 !important;
  margin-left: 0 !important;
}

.map-img-holder {
  position: relative;
}

.map-stack-size {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.map-card-price {
  flex-basis: 4em;
  flex-grow: 0;
  flex-shrink: 0;
}
