name: CI
on:
  push:
    branches: [main]
defaults:
  run:
    working-directory: site
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install
        run: npm ci

      - name: Deploy
        run: npm run deploy
